<div class="jumbotron">
<div class="container">
<div class="center">
  <h1>Best Rental Deals Miami</h1>
    <h2>The easiest ways to find rentals in the best neighborhoods, at less than the avg price per sq foot.</h2>
  	<div class="container-fluid">
		<%= render('filter') %>
	</div>
  </div>
  </div>
</div>